<nav class="nav">
    <div class="nav-inicio">
        <button class="btn-inicio"><a href="/products">INICIO</a></button>
    </div>
    <div class="nav-user">
        <h4>Bienvenido {{userlogued.name}}!</h4>
        <h4>Tipo de usuario: {{userlogued.rol}}</h4>
        <button id="logout" class="btn-logout">Logout</button>
    </div>
</nav>
<div class="cont-crear-prod">

<h3 style="text-align: center; color: white; margin: 13px 0">Crear productos</h3>
{{!-- action="/api/products/" enctype="multipart/form-data" method="POST"  --}}
<form id="formcreate" class="form-create">
<label>Titulo</label>
<input type="text" name="title">
<label>Descripcion</label>
<input type="text" name="description">
<label>Precio</label>
<input type="number" name="price">
<label>Imagen</label>
<input type="file" name="file">
<label>Codigo</label>
<input type="text" name="code">
<label>Stock</label>
<input type="number" name="stock">
<input style="margin-top: 25px;" type="submit" value="Crear">
</form>
</div>
<div id="faildiv" style="width: 50%; text-align:center; margin:auto; margin-top:3rem"></div>

<script src="/js/administrar.js"></script>