<form action="/api/products/" enctype="multipart/form-data" method="POST">
<label>Titulo</label>
<input type="text" name="title">
<label>Descripcion</label>
<input type="text" name="description">
<label>Precio</label>
<input type="number" name="price">
<label>Imagen</label>
<input type="file" name="file">
<label>Codigo</label>
<input type="text" name="code">
<label>Stock</label>
<input type="number" name="stock">
<input type="submit">
</form>