<div class="login-container">
    <span>Elija su nueva contraseña</span>
    <form id="formEnvPass">
        <label>Contraseña</label>
        <input type="password" name="password" id="inputpassword"/>
        <label>Repita su contraseña</label>
        <input type="password" name="passwordconfirm" id="inputpassword2"/>
        <input type="submit">
    </form>
</div>

<script src="/js/resetPassword.js"></script>