<nav class="nav">
    <div class="nav-inicio">
        <button class="btn-inicio"><a href="/products">INICIO</a></button>
    </div>
    <div class="nav-user">
        <h4>Bienvenido {{user.name}}!</h4>
        <h4>Tipo de usuario: {{user.rol}}</h4>
        <button id="logout" class="btn-logout">Logout</button>
    </div>
</nav>

<div><h1 style="text-align: center; color:white">No tenes ningun producto agregado al carrito !</h1></div>