<div class="login-container">
    <span>Porfavor ingrese su email para enviarle su link de recuperación de contraseña</span>
    <form id="formEnvMail">
        <label>Correo electrónico</label>
        <input type="text" name="email" id="inputemail"/>
        <input type="submit">
    </form>
</div>

<script src="/js/enviarMail.js"></script>