<div class="containerProd">
    {{#each prodsAct}}

        <div class="cardProd">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Stock: {{this.stock}}</p>

    </div>
    {{/each}}
</div>