<h1>¡Iniciá sesion!</h1>
<form id="formLogin">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<a href="/api/session/"><button>Loguear con github</button></a>
<p>¿No tenes cuenta? ¡Registrate abajo!  
<br>    
<a href="/register">Registrarse</a></p>
<br>
<script src="/js/login.js"></script>