<div class="container-register">

<h1>Registrate!</h1>
<form id="formRegistro" class="form-register">
    <label>Nombre</label>
    <input name="name">
    <label>Apellido</label>
    <input name="last_name">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <br>
    <input type="submit" class="btn-submit" value="Crear cuenta">
</form>
<div id="faildiv"></div>
</div>

<p class="p-redirect-login">¿Ya tenes cuenta? <a href="/" class="a-login">Iniciar Sesion</a></p>

<script src="/js/register.js"></script>