<h1>¡Registrate!</h1>
<form id="formRegistro">
    <label>Nombre</label>
    <input name="name">
    <label>Apellido</label>
    <input name="last_name">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <br>
    <input type="submit">
</form>

<p>¿Ya tenes cuenta? <a href="/">Iniciar Sesion</a></p>

<script src="/js/register.js"></script>